{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'blog' %}
  {{ super() }}
{% endblock seo %}

{% block body %}
  {% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-10">
        <article>
          <div class="blog-header">
            <h1>{{ page.title }}</h1>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          {% if page.extra.lead %}<p class="lead" style="text-align:center">{{ page.extra.lead | safe }}</p>{% endif %}
          {{ page.content | safe }}
        </article>
        <br>
        <hr class="rounded">
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://thelowesttype-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
