{% extends "section.html" %}

{% block body %}
  {% set page_class = "docs list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~section #}
  {% set current_section = "docs" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-10">
        <article>
          <h1 class="text-center">{{ section.title }}</h1>
          <div class="text-center">{{ section.content | safe }}</div>
          <div class="card-list">
            {% set index_path = current_path ~ "_index.md" | trim_start_matches(pat="/") %}
            {% set index = get_section(path=index_path) %}
            {% for page in index.pages %}
              <div class="card project-link">
                <div class="card-body">
                  <a class="stretched-link ms-auto-l text-body" href="{{ page.permalink }}" style="padding-top: 10px;">{{ page.title }} &rarr;</a>
                </div>
              </div>
            {% endfor %}
            {% for s in index.subsections %}
              {% set subsection = get_section(path=s) %}
              {% if subsection.pages %}
            <div class="card project-section" style="border: 1px solid #e9ecef; border-radius: .6rem;">
              <div class="card-body">
                <div class="row">
                  <div class="col-md my-auto mx-auto">
                    <h2 class="h3"><a class="stretched-link text-body" href="{{ subsection.permalink }}">{{ subsection.title }}</a></a></h2>
                  {% if subsection.extra.lead %}
                    <p class="lead" style="line-height: 26px;">{{ subsection.extra.lead | safe }}</p>{% elif subsection.description %}<p class="lead">{{ subsection.description | safe }}</p>{% endif %}
                  {% endif %}
                  {{ macros_section_publish::section_publish_metadata(subsection=subsection) }}
                  </div>
                  {% if subsection.extra.image %}
                    <div class="col-md my-auto mx-auto" style="padding-top: 15px;">
                      <img src="{{ subsection.extra.image }}" class="img-fluid">
                    </div>
                  {% endif %}
              </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
